<div class="container">
  <div class="row">
    <div class="col-xs-offset-1 col-xs-10">
      <h1>Follower Users</h1>
        <% if @users.empty? %>
          <span>ユーザーはいません</span>
        <% else %>
          <table>
            <thead>
              <tr>
                <td></td>
                <td>name</td>
              </tr>
            </thead>
            <tbody>
              <% @user.followers.each do |user| %>
                <tr>
                  <td>
                    <%= attachment_image_tag user, :profile_image, class: "rounded-circle", format: 'jpeg', fallback: "no_image.png", size: "50x50" %>
                  </td>
                  <td><%= user.name %></td>
                  <td><%= "フォロー数: #{@user.followings.count}" %></td>
                  <td><%= "フォロワー数: #{@user.followers.count}" %></td>
                  <td><%= link_to 'User page', user_path(user) %></td>
                <% end %>
              </tr>
            </tbody>
          </table>
        <% end %>
      </div>
    </div>
  </div>