<div class="container">
  <strong><%= notice %></strong>
  <div class="row">
    <% if user_signed_in? %>
      <%= render 'post_images/sidebar', post_image: @post_image, user: current_user %>
    <% end %>
    <div class="col-md-8 offset-md-1">
      <br>
      <h3>New</h3>
      <table class="table-hover table-inverse">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @post_images.each do |post_image| %>
            <tr>
              <td>
                <%= link_to post_image_path(post_image.id) do %>
                  <%= attachment_image_tag post_image.user, :profile_image, size: "150x150",  fallback: "no_image.png" %><br>
                <% end %>
              </td>
              <td><%= post_image.title %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <% if user_signed_in? %>
        <p><%= link_to "more >>", post_images_path %></p>
      <% else %>
        <p><%= link_to "more >>", new_user_session_path %></p>
      <% end %>
    </div>
  </div>
</div>