<div class="col-md-3">
  <h2>User info</h2>
    <%= attachment_image_tag user, :profile_image, format: 'jpeg', fallback: "no_image.png", size: "60x60" %>
    <table class="table">
      <tbody>
        <tr>
          <th>name</th>
	        <th><%= user.name %></th>
	      </tr>
	      <tr>
	        <th>introduction</th>
	        <th><%= user.introduction %></th>
	      </tr>
	      <tr>
	        <th>follows</th>
	        <th>
	          <%= link_to followings_user_path(user) do %>
              <%= user.followings.count %>
            <% end %>
          </th>
        </tr>
        <tr>
          <th>followers</th>
          <th>
            <%= link_to followers_user_path(user) do %>
              <%= user.followers.count %>
            <% end %>
          </th>
        </tr>
      </tbody>
    </table>
    <div>
      <% if current_user == user %>
        <%= link_to edit_user_path(user.id), class:"btn btn-outline-secondary btn-block" do %>
          <i class="fas fa-user-cog"></i>
        <% end %>
      <% else %>
        <%= render 'relationships/follow_button', user: user %>
      <% end %>
    </div>

  <h2 class="mt-3">新規投稿</h2>
  <%= form_with model: post_image, local:true do |f| %>
  <%= f.text_field :title, placeholder: "タイトル" %>
  <%= f.text_field :tag_name, placeholder: "タグ" %>
  <%= f.text_area :content, size: '10x10', placeholder: "本文" %>
  <%= f.submit '投稿', class: 'btn btn-success btn-sm btn-block mb-3' %>
  <% end %>
</div>