<div class="container mt-5">
  <div class="row">
    <div class="mx-auto">
      <div class="page-header">
        <h2>新規投稿</h2>
      </div>
      <%= form_with model: @post_image, local:true do |f| %>
        <table class="table">
          <tr>
            <td><%= f.text_field :title, placeholder: "タイトル" %></td>
          </tr>
          <tr>
            <td><%= f.text_field :tag_name, placeholder: "タグ" %></td>
          </tr>
          <tr>
            <td><%= f.attachment_field :image %></td>
          </tr>
          <tr>
            <td><%= f.text_area :content, size: '30x10', placeholder: "本文" %></td>
          </tr>
        </table>
        <%= f.submit '投稿', class: 'btn btn-success btn-sm btn-block mb-3' %>
      <% end %>
    </div>
  </div>
</div>