<div class="container px-5 px-sm-0">
  <div class="row">
    <%= render 'post_images/sidebar', post_image: @post_image, user: current_user %>
    <div class="col-md-8 offset-md-1">
      <h2></h2>
      <table class="table-hover table-inverse">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th></th>
          </tr>
       </thead>

        <%= ("-") %>
        <strong>
          <%= ("#{@tag.tag_name}") %>
        </strong>
        <%= ("- がタグ付けされた投稿一覧") %><br />
        
        <tbody>
          <h4></h4>
          <tr>
            <td><% @post_images.each do |post_image| %></td>
          </tr>
          <tr>
            <td><%= link_to post_image.title, post_image_path(post_image.id) %></td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>