<div class="container px-5 px-sm-0">
  <div class="row">
    <%= render 'post_images/sidebar', post_image: @post_image, user: current_user %>
      <div class="col-md-8 offset-md-1">
      <h2></h2>
      <table>
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>title: <%= @post_image.title %></td>
          </tr>
          <th></th>
          <tr>
            <td><%= @post_image.content %></td>
          </tr>
          <tr>
            <td>
              <% @post_image.tags.each do |tag| %>
                <%= link_to tag.tag_name, tag_post_images_path(tag_id: tag.id) %>
                <%= "(#{tag.post_images.count})" %>
              <% end %>
            </td>
          </tr>
          <tr>
            <% if @post_image.user == current_user %>
            <td>
               <%= link_to 'Edit', edit_post_image_path(@post_image.id), class: 'btn btn-success btn-sm mt-3 mb-3 mr-3' %>
              <%= link_to 'Destroy', post_image_path(@post_image.id), class: 'btn btn-danger btn-sm mt-3 mb-3', method: :delete %>
            </td>
            <% end %>
          </tr>
        </tbody>
      </table>
      <div>
          <%= render 'comment', post_comments: @post_image.post_comments %>
        </div>
      <div>
        <%= render 'post_comments/form', post_image: @post_image, post_image_comment: @post_comment %>
    </div>
    <br>
    <%= link_to 'back', user_path(@user) %>
  </div>
</div>